.post {
    max-width: 1200px;
    margin: 6em auto 8em;
    padding: 0 30px;

    @media screen and (max-width: 768px) {
        margin: 4em auto 6em;
        padding: 0 10px;
        font-size: 0.8em;
    }

    .post-colorbox {
        width: 60px;
        height: 8px;
        margin: 0.6em 0;
        background: black;

        @media screen and (max-width: 768px) {
            width: 40px;
            height: 6px;
            margin: 8px 0;
        }
    }

    .post-colorbox-music { background: #473d80 }
    .post-colorbox-entertainment { background: #c16a70 }
    .post-colorbox-daigasso { background: #d69739 }
    .post-colorbox-gamevideo { background: #8f3f39 }

    .post-title {
        width: 100%;
        font-weight: 500;
        font-size: 2.5em;

        @media screen and (max-width: 768px) {
            font-size: 1.8em;
        }
    }

    .post-postedon {
        width: 100%;        
        margin: 1em 0 2em;
        color: gray;
    }

    .post-video-wrapper {
        
        position: relative;
        
        .post-video {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
        
        &:before {
            content: '';
            display: block;
            padding-top: 56.25%;
        }
    }

    .post-menu {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

        .post-menu-cc {
            width: 100px;
            background: url('../../images/cc.png') center no-repeat;
            background-size: contain;
        }
    }

    .comment {
        display: flex;
        padding: 1em 0;
        font-family: 'Noto Sans KR', sans-serif;

        .comment-body {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            padding: 0 1em;

            .comment-header {
                display: flex;
                color: gray;

                .comment-header-button:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

            .comment-text {
                padding: 0.4em 0;
            }

            .comment-recomment-button:hover {
                cursor: pointer;
                color: gray;
            }
        }
    }

}