.login-page-wrapper {

    width: 100vw;
    height: 100vh;
    background: url(../assets/images/background_login.jpg) center no-repeat lightgray;
    background-size: cover;
    display: flex;
    align-items: center;

    .login-page-inner {

        width: 100%;
        height: 220px;
        background: rgba(0, 0, 0, 0.15);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .login-page-home-button {
            width: 200px;
            height: 60px;
            background: url(../assets/images/logo_white.png) center no-repeat;
            background-size: cover;
        }

        .login-button-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            .login-button {
                width: 85px;
                height: 30px;
                margin-bottom: 8px;
                background: center no-repeat;
                background-size: contain;
            }

            .login-button-naver {
                background-image: url(../assets/images/button_login_naver.png);
            }

            .login-button-kakao {
                background-image: url(../assets/images/button_login_kakao.png);
            }
        }
    }
    
    @media screen and (max-width: 768px) {
        background-image: url(../assets/images/background_login_mobile.jpg);

        .login-page-inner {
            height: 160px;
            .login-page-home-button {
                width: 150px;
                height: 45px;
            }
            .login-button-container {
                .login-button {
                    width: 68px;
                    height: 24px;
                }
            }
        }
    }
}

