.post-scroller-banner {
    width: 100%;
    background: gray center no-repeat;
    background-size: cover;
    background-image: url(../images/post_banner_default.jpg);

    .post-scroller-banner-inner {
        position: relative;
        max-width: 1200px;
        padding: 0 30px;
        height: 480px;
        margin: auto;

        @media screen and (max-width: 768px) {
            height: 180px;
            padding: 0 10px;
            font-size: 0.5em;
        }

        .post-scroller-banner-title {
            position: absolute;
            color: white;
            bottom: 1.5em;
            font-size: 3.5em;
            font-weight: 500;
        }

        .post-scroller-banner-description {
            position: absolute;
            color: white;
            bottom: 1em;
            font-size: 2em;
            font-weight: 300;
        }
    }
}

.post-scroller-banner-music {
    background-image: url(../images/post_banner_music.jpg);
}

.post-scroller-banner-entertainment {
    background-image: url(../images/post_banner_entertainment.jpg);
}

.post-scroller-banner-daigasso {
    background-image: url(../images/post_banner_daigasso.jpg);
}

.post-scroller-banner-gamevideo {
    background-image: url(../images/post_banner_gamevideo.jpg);
}