@mixin opaque {
    background: white;
    .nav-item-text {
        color: #757575;
    }
    .header-inner {
        .header-nav {
            .header-logo {
                background-image: url(../../assets/images/logo_black.png)
            }
        }
    }
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: transparent;
    transition: background-color 0.2s;
    z-index: 100;

    .nav-item-text {
        color: white;
        font-weight: 500;
    }

    &:hover {
        @include opaque();
    }

    .header-inner {
        margin: auto;
        padding: 0 30px;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-nav {
            display: flex;
            align-items: center;
            height: 80px;

            .header-logo {
                width: 200px;
                height: 60px;
                margin-right: 40px;
                background-image: url(../../assets/images/logo_white.png);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
    
            .header-nav-item {
                height: 80px;
                padding: 0 30px;
                display: flex;
                align-items: center;

                &:hover {
                    background: #f8f8f8;
                }
            }
    
            .header-nav-item-products {
    
                cursor: default;
    
                .header-menu {
                    position: absolute;
                    top: 80px;
                    left: 0;
                    width: 100%;
                    height: 210px;
                    background: white;
                    display: none;

                    .header-menu-inner {

                        max-width: 1200px;
                        height: 100%;
                        margin: auto;
                        display: flex;
                        flex-direction: column;

                        .header-menu-row {
                            display: flex;
                            flex: 1;
    
                            .header-menu-item {
                                flex: 1;
                                padding: 12px 22px;

                                .header-menu-item-colorbox {
                                    width: 0;
                                    height: 4px;
                                    margin-bottom: 5px;
                                    transition: width 0.2s;
                                }

                                .header-menu-item-title {
                                    color: #757575;
                                    font-size: 20px;
                                    font-weight: 500;
                                }

                                .header-menu-item-text {
                                    color: #bcbcbc;
                                    font-size: 14px;
                                    margin-top: 6px;
                                }

                                &:hover {
                                    background: #f8f8f8;
                                    .header-menu-item-colorbox { width: 24px; }
                                    .header-menu-item-title { color: #373737; }
                                    .header-menu-item-text { color: #8e8e8e; }
                                }

                            }
                        }
                    }
                }
    
                &:hover {
                    .header-menu {
                        display: block;
                    }
                }
            }
        }
    }
}

.header-opaque {
    @include opaque();
}