@mixin opaque {
    background: white;
    p {
        color: #757575;
    }
    .wide-header-inner {
        .wide-header-logo {
            background-image: url("../../images/logo_black.png")
        }
    }
}

.wide-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background: transparent;
    transition: background-color 0.2s;
    padding: 5px;

    p {
        color: white
    }

    &:hover {
        @include opaque();
    }

    .wide-header-inner {
        margin: auto;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .wide-header-logo {
            background-image: url("../../images/logo_white.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 200px;
            height: 60px;
        }
    }
}

.wide-header-opaque {
    @include opaque();
}