@mixin opaque {
    background: white;
    p {
        color: #757575;
    }
    .wide-header-inner {
        .wide-header-nav {
            .wide-header-logo {
                background-image: url("../../images/logo_black.png")
            }
        }
    }
}

.wide-header {
    position: fixed;
    top: 0;
    width: 100%;
    background: transparent;
    transition: background-color 0.2s;

    p {
        color: white;
        font-weight: 500;
    }

    &:hover {
        @include opaque();
    }

    .wide-header-inner {
        margin: auto;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .wide-header-nav {
            display: flex;
            align-items: center;
            height: 80px;

            .wide-header-logo {
                width: 200px;
                height: 60px;
                margin-right: 40px;
                background-image: url("../../images/logo_white.png");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
    
            .wide-header-nav-item {
                height: 80px;
                padding: 0 30px;
                display: flex;
                align-items: center;

                &:hover {
                    background: #f8f8f8;
                }
            }
    
            .wide-header-nav-item-products {
    
                cursor: default;
    
                .wide-header-products-menu {
                    position: absolute;
                    top: 80px;
                    left: 0;
                    width: 100%;
                    height: 300px;
                    background: white;
                    display: none;
                }
    
                &:hover {
                    .wide-header-products-menu {
                        display: block;
                    }
                }
            }
        }
    }
}

.wide-header-opaque {
    @include opaque();
}