.loading-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .loading-content-image {
        width: 320px;
        height: 180px;
        background: url(../../images/loading_octo.gif) center no-repeat;
        background-size: contain;
    }

    .loading-content-text {
        font-size: 1.2em;
        color: 'gray';
    }
}
