.about-page-wrapper {
    height: 800px;
    background: url(../images/aboutbg.jpg) center no-repeat;
    background-size: cover;
    text-align: center;

    @media screen and (max-width: 768px) {
        height: 400px;
    }

    .about-page-inner {
    
        color: white;
        font-size: 3.5rem;
        position: relative;
        top: 45%;
    
        @media screen and (max-width: 768px) {
            font-size: 2rem;
        }
        
    }
}

