.about-banner {
    width: 100%;
    height: 960px;
    background: url(../images/aboutbg.jpg) center no-repeat gray;
    background-size: cover;
    display: flex;
    flex-direction: column;
    
    @media screen and (max-width: 768px) { height: 480px; font-size: 0.5em; }

    .about-banner-inner {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        box-sizing: border-box;
        color: white;
        font-size: 1.6em;
        font-weight: 300;
        padding: 0 30px;
    }
}

.about-crews {
    max-width: 1200px;
    margin: 3em auto;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 768px) { font-size: 0.4em; }

    .about-crews-profile {
        display: flex;
        margin: 2em 0;

        .about-crews-profile-avatar {
            width: 16em;
            height: 16em;
            border-radius: 8em;
            background: gray center no-repeat;
            background-size: cover;
        }

        .about-crews-profile-content {
            display: flex;
            flex-direction: column;
            padding: 2em;
            .about-crews-profile-header {
                font-weight: 500;
                margin: 0.5em 0;
            }
        }
    }
}