.post-scroller-banner {
    width: 100%;
    background: gray center no-repeat;
    background-size: cover;

    .post-scroller-banner-inner {
        position: relative;
        max-width: 1200px;
        padding: 0 30px;
        height: 480px;
        margin: auto;

        @media screen and (max-width: 768px) {
            height: 180px;
            padding: 0 10px;
            font-size: 0.5em;
        }

        .post-scroller-banner-title {
            position: absolute;
            color: white;
            bottom: 1.5em;
            font-size: 3.5em;
            font-weight: 500;
        }

        .post-scroller-banner-text {
            position: absolute;
            color: white;
            bottom: 1em;
            font-size: 2em;
            font-weight: 300;
        }
    }
}